.frm{
 width: 44%;
 margin:auto;
 text-align: center;
 margin-top: 2%;
}

 

.mat-raised-button{ 
  float: right;
  background: white;
    border: 1px solid #8080805c !important;
    box-shadow: 3px 3px #8080806b;
}
.mat-raised-button:hover { 
  background:#b3b3b35c !important;
  
}
.custom-file-input:hover::before{ 
  background:#b3b3b35c !important;
  
}
.example-button-row .mat-button-base {
  margin: 8px 8px 8px 0;
}

.custom-file-input::-webkit-file-upload-button {
  visibility: hidden;
}
.custom-file-input::before {
  content: 'Importer';
  display: inline-block;
  background: white;
  color: #000000 !important;
  border: 1px solid #8080805c !important;
  box-shadow: 3px 3px #8080806b;
  padding: 5px 8px;
  outline: none;
  white-space: nowrap;
  -webkit-user-select: none;
  cursor: pointer;
  text-shadow: 1px 1px #fff;
  /* font-weight: 700; */
  font-size: 10pt;
  margin: 5px;
  padding: 8px;
  border-radius: 4px;
}
input[type=file]{
color: transparent;}
.custom-file-input:hover::before {
  border-color: black;
}
.custom-file-input:active::before {
  background: -webkit-linear-gradient(top, #e3e3e3, #f9f9f9);
}
.md-6 {
  width: 50%;
}