

<form class="frm">
  <h2> {{ title }} </h2><br><br>
  <div class="row">
    <div class="md-6">
    <input mat-raised-button type="file" class="custom-file-input"
    (change)="animate($event)" accept="image/*">
    </div>
    <div  class="md-6">
  <button mat-raised-button (click)="zoomIn()">
    {{ isZoomed ? ' Dézoomer' : 'Zoom' }}
  </button>
  </div>
</div>
  <br><br>
  <canvas #canvas width="600" height="300"> </canvas>
</form>